<!DOCTYPE html>

<html>
<link rel="stylesheet" href="../stylesheets/style.css">

<title>Emmanuel Sedicol</title>

<header>
  <h1><img src="../images/logo.png" alt="nba logo" width="150" height="50" /> <%= title %></h1>
</header>

<body>

<p> <img src="../images/main.jpg" alt="nba logo" width="450" height="300" align="right" border="5"/>
<h3>App Features (all via RESTful API)</h3><br>

<p>
  • POST a payment type and donation amount in JSON format<br>
  • GET a list of donation amounts and types<br>
  • GET an individual donation using an ID<br>
  • DELETE an individual donation using and ID<br>
  • Upvote a donation via PUT request<br>
</p>
</p>

</body>


</html>
